@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C/Ramon Marrero Aristy <br />
    Santo Domingo Este, Rep. Dom.<br />
    <abbr title="Phone">P:</abbr>
    829-599-4502
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:evolve35@hotmail.com">Evolve35@hotmail.com</a><br />
</address>